{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/buttons.bootstrap4.min.css' %}">
{% endblock head %}

{% block js %}
    {% load static %}
    <!-- Required datatable js -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Buttons examples -->
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
{% endblock js %}

{% block body %}
    <div class="container-fluid">

        <div class="content-page">

            <!-- Top Bar Start -->
            <div class="topbar">

                <div class="col-lg-12">
                    <div class="card-box">

                        <h4 class="header-title m-t-0" style="color: #123680">配置备份</h4>
                        <div class="card text-center">

                            <div class="card-header">
                                <ul class="nav nav-pills nav-fill">
                                    {# 设备选择标签卡 #}
                                    {% for device in devices_list %}
                                        {% if device.name == current %}
                                            <li class="nav-item">
                                                {# 会把当前设备current设置为active的选择卡 #}
                                                <a class="nav-link active"
                                                   href="/device_config/{{ device.id }}">{{ device.name }}</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   href="/device_config/{{ device.id }}">{{ device.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" , style="color: #9d9d9d"><strong>配置对比(选择唯一ID:时间）</strong></h5>
                                {# 下拉菜单,选择一号配置 #}
                                <select id="config1">
                                    {% for device in device_config_date_hash %}
                                        {% if forloop.counter == 1 %}
                                            {# 总是会把第一个配置设置为"selected"配置 #}
                                            <option value={{ device.id }} selected="selected">{{ device.id }}
                                                : {{ device.date }}</option>
                                        {% else %}
                                            <option value={{ device.id }}>{{ device.id }} : {{ device.date }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {# 下拉菜单,选择二号配置 #}
                                <select id="config2">
                                    {% for device in device_config_date_hash %}
                                        {% if forloop.counter == 1 %}
                                            {# 总是会把第一个配置设置为"selected"配置 #}
                                            <option value={{ device.id }} selected="selected">{{ device.id }}
                                                : {{ device.date }}</option>
                                        {% else %}
                                            <option value={{ device.id }}>{{ device.id }} : {{ device.date }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {# 比较按钮, 会触发JS config_compare() #}
                                <button onClick="config_compare();">比较</button>

                                {#  下面是显示备份配置的表格 #}
                                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">序号</th>
                                        <th scope="col">唯一ID</th>
                                        <th scope="col">设备名</th>
                                        <th scope="col">配置HASH值</th>
                                        <th scope="col">配置备份时间</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-for-config">
                                    {% for device in device_config_date_hash %}
                                        <tr>
                                            <th scope="row" align="center" valign="center">{{ forloop.counter }}</th>
                                            <td align="center" valign="center" style="color:black">
                                                <strong>{{ device.id }}</strong></td>
                                            <td align="center" valign="center" style="color:black">
                                                <strong>{{ device.name }}</strong></td>
                                            <td align="center" valign="center" style="color:black">
                                                <strong>{{ device.hash }}</strong></td>
                                            <td align="center" valign="center" style="Zcolor:black">
                                                <strong>{{ device.date }}</strong></td>
                                            <td align="center" valign="center">
                                                {# 显示可以对备份配置的三种操作:删除,查看和下载 #}
                                                <a href="{{ device.delete_url }}" onclick="return confirmAct();"
                                                   data-toggle="tooltip" data-placement="top" title="删除此备份配置"
                                                   class="badge badge-danger">删除</a>
                                                <a href="{{ device.show_url }}" data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="查看此备份配置" class="badge badge-success">查看</a>
                                                <a href="{{ device.download_url }}" data-toggle="tooltip"
                                                   data-placement="top" title="下载此备份配置"
                                                   class="badge badge-success">下载</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a class="btn btn-primary" href="/device_config/backup/" role="button">一键备份</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    {# 渲染DataTable #}
    <script type="text/javascript">
        $(document).ready(function () {

            //Buttons examples
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf']
            });
            $('#datatable-buttons tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });

    </script>

    {# 提示删除确认警告的JavaScript #}
    <script type="text/javascript" language="javascript">
        <!--
        function confirmAct() {
            if (confirm('确定要执行此删除操作吗?')) {
                return true;
            }
            return false;
        }

        //-->
    </script>


    {# 比较配置的JS #}
    <script type="text/javascript" language="javascript">
        function config_compare() {
            // 提取选择的配置一
            let e = document.getElementById("config1");
            let config1 = e.options[e.selectedIndex].value;
            // 提取选择的配置二
            let i = document.getElementById("config2");
            let config2 = i.options[i.selectedIndex].value;
            // 把请求发送到比较配置的链接
            let url = "/device_config/compare/{{ current_device_id }}/" + config1 + "/" + config2;
            window.open(url, '_self');
        }
    </script>
{% endblock body %}