{% extends 'base.html' %}

{% block head %}
    <style type="text/css">
        label.required::before {
            content: "*";
            color: red;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="container-fluid">

        <div class="content-page">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- start row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">添加设备类型</h4>
                            <p class="text-muted font-14 m-b-20">
                                等待添加公告！
                            </p>

                            {% if successmessage %}
                                <span class="message">
                                    <div class="alert alert-success"
                                                           role="alert">{{ successmessage }}
                                    </div>
                                </span>
                            {% endif %}

                            {% if warningmessage %}
                                <span class="message">
                                    <div class="alert alert-warning"
                                                           role="alert">{{ warningmessage }}
                                    </div>
                                </span>
                            {% endif %}

                            {% if errormessage %}
                                <span class="message">
                                    <div class="alert alert-danger"
                                                           role="alert">{{ errormessage }}
                                    </div>
                                </span>
                            {% endif %}

                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="form-group">
                                        {% if field.errors %}
                                            <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
                                        {% endif %}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>

                                {% endfor %}

                                <div>
                                    <button type="submit" class="btn btn-custom waves-effect waves-light">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-light waves-effect m-l-5">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
                <!-- end row -->

            </div>
            <!-- Top Bar End -->
        </div>
    </div>

{% endblock body %}
