<!doctype html>
<html lang="en">
<head>
    <style type="text/css">
        #mynetwork {
            width: 2000px;
            height: 800px;
            border: 1px solid lightgray;
        }
    </style>

    <link href="/static/css/vis-network.min.css" rel="stylesheet" type="text/css"/>

</head>

<body onload="draw('/topology_json/')">
    <div class="errormsg">
        <a href="javascript:history.go(-1);" style="font-size: 30px">返回主界面</a>
    </div>

    <div class="container-fluid">
        <div class="content-page">
            <!-- Top Bar Start -->
            <div class="topbar">
                <div class="row py-2">
                    <div id="mynetwork"></div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/static/js/vis.js"></script>
<script type="text/javascript" src="/static/js/draw_map.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>

</body>
</html>
